/config/local.yml
/vendor
/source/projects/doctrine-*
/source/projects/doctrine1
/source/api
/tests/Doctrine/Website/Tests/Docs/resources/projects
/tests/Doctrine/Website/Tests/Docs/resources/docs
/tests/Doctrine/Website/Tests/Docs/resources/sculpin-source
/docs
/.phpcs-cache
/build-*
/projects
