/config/local.yml
/vendor
/source/projects/doctrine-*
/source/projects/doctrine1
/source/api
/tests/Docs/resources/projects
/tests/Docs/resources/docs
/tests/Docs/resources/source
/docs
/.phpcs-cache
/build-*
/projects
/node_modules
.webpack-build
