dist: trusty
sudo: false
language: php

cache:
    directories:
        - vendor
        - projects
        - $HOME/.composer/cache

php:
  - 7.1

before_install:
  - mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini{,.disabled} || echo "xdebug not available"

install:
  - rm composer.lock
  - travis_retry composer update -n --prefer-dist

jobs:
  include:
    - stage: Test
      env: DEPENDENCIES=low
      install:
        - rm composer.lock
        - travis_retry composer update --prefer-dist --prefer-lowest
      script:
        - cp config/local.yml.dist config/local.yml
        - ./vendor/bin/phpunit

    - stage: Test
      env: COVERAGE
      before_script:
        - mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini{.disabled,}
        - if [[ ! $(php -m | grep -si xdebug) ]]; then echo "xdebug required for coverage"; exit 1; fi
      script:
        - cp config/local.yml.dist config/local.yml
        - ./bin/console build-docs --sync-git
        - ./bin/console build-website
        - ./vendor/bin/phpunit --coverage-clover clover.xml
      after_script:
        - wget https://scrutinizer-ci.com/ocular.phar
        - php ocular.phar code-coverage:upload --format=php-clover clover.xml

    - stage: Code Quality
      env: CODING_STANDARDS
      install: travis_retry composer install --prefer-dist
      script: ./vendor/bin/phpcs

    - stage: Code Quality
      env: STATIC_ANALYSIS
      install: travis_retry composer install --prefer-dist
      script: vendor/bin/phpstan analyse
