<?xml version="1.0"?>
<ruleset name="PHPCS Coding Standards for doctrine/doctrine-website">
    <description>Check the code of the sniffs in doctrine/doctrine-website.</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors" />

    <!-- Show progress of the run -->
    <arg value="np"/>

    <rule ref="Doctrine"/>

    <file>app</file>
    <file>tests</file>
</ruleset>
