includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 7
    paths:
      - lib
      - tests
    ignoreErrors:
      - "#Short ternary operator is not allowed#"
      - # Refactor class and remove this error
        message: "#While loop condition is always true#"
        path: "lib/Commands/BuildWebsiteCommand.php"
        count: 1
      - # Refactor class and remove this error
        message: "#is never written, only read#"
        path: "lib/Model/*.php"
      - # Temporary final classes in tests are covered by nunomaduro/mock-final-classes until the refactorings start
        message: "#has unresolvable native type#"
        path: "tests/"
      - # Temporary final classes in tests are covered by nunomaduro/mock-final-classes until the refactorings start
        message: "#contains unresolvable type#"
        path: "tests/"
      -
        message: "#does not specify its types: TStripeObject#"
        path: "lib/Event/GetStripeEventParticipants.php"
