{% block title %}Suggest a Doctrine Event{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('events') }}">Events</a></li>
            <li class="breadcrumb-item active" aria-current="page">Suggest an Event</li>
        </ol>
    </nav>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeDhyTE57K50Ob-VwqyE9RZO8OCe56HLDd385NPltH4k4nY0g/viewform?embedded=true" width="640" height="667" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
{% endblock %}
