<h1>Maintainers</h1>

<div class="row">
    <div class="col-lg-8 col-sm-12">
        <p class="lead">
            Doctrine is maintained by a core group of {{ contributors|length }} developers. Each maintainer has
            their own areas of responsibilities and together we are able to keep the various Doctrine projects
            moving forward as the PHP ecosystem evolves.
        </p>
    </div>
    <div class="col-4 d-none d-lg-block">
        {% include "carbonad-standard.html.twig" %}
    </div>
</div>

{% include "maintainers-list.html.twig" with {contributors:contributors} %}
