<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} - {{ site.title }} - {{ site.subtitle }}</title>

        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

        <link href="{{ site.url }}/css/style.css?{{ site.cacheBuster }}" rel="stylesheet" type="text/css" />

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/images/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/images/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/images/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/images/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/images/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="Doctrine"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{ site.url }}/images/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="{{ site.url }}/images/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="{{ site.url }}/images/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="{{ site.url }}/images/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="{{ site.url }}/images/mstile-310x310.png" />

        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/railscasts.css?{{ site.cacheBuster }}" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />

        {% block head_styles '' %}

        {% block head_scripts '' %}

        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js?{{ site.cacheBuster }}"></script>
        <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
        <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0"></script>

        <script src="{{ site.url }}/js/site.js?{{ site.cacheBuster }}"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">
        <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0"></script>
    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-md navbar-dark border-bottom fixed-top">
                <a class="navbar-brand text-hide" href="{{ site.url }}/"><img src="{{ site.url }}/images/doctrine-logo.svg" />{{ site.title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item{% if page.menuSlug == 'home' %} active{% endif %}">
                            <a class="nav-link" href="{{ site.url }}/">Home</a>
                        </li>
                        <li class="nav-item{% if page.menuSlug == 'about' %} active{% endif %}">
                            <a class="nav-link" href="{{ site.url }}/about/">About</a>
                        </li>
                        <li class="nav-item dropdown{% if page.menuSlug == 'projects' %} active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="{{ site.url }}/projects/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Projects
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for project in get_projects() %}
                                    <a class="dropdown-item" href="{{ site.url }}/projects/{{ project.slug }}/">{{ project.shortName }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item{% if page.menuSlug == 'contribute' %} active{% endif %}">
                            <a class="nav-link" href="{{ site.url }}/contribute/">Contribute</a>
                        </li>
                        <li class="nav-item{% if page.menuSlug == 'community' %} active{% endif %}">
                            <a class="nav-link" href="{{ site.url }}/community/">Community</a>
                        </li>
                        <li class="nav-item{% if page.menuSlug == 'blog' %} active{% endif %}">
                            <a class="nav-link" href="{{ site.url }}/blog/">Blog</a>
                        </li>
                        <li class="nav-item{% if page.menuSlug == 'search' %} active{% endif %}">
                            <a class="nav-link" href="{{ site.url }}/search/">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/doctrine/" target="_blank">Development</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Begin page content -->
        <main role="main" class="container">
            <div class="row">
                {% if page.docsSlug %}
                    {% set project = get_project(page.docsSlug) %}
                {% endif %}

                {# Documentation TOC #}
                {% if page.docsIndex is defined and page.docsIndex and project is defined %}
                    <nav class="breadcrumbs d-none d-sm-block d-md-block d-lg-block d-xl-block" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ site.url }}/projects/">Projects</a></li>
                            <li class="breadcrumb-item"><a href="{{ site.url }}/projects/{{ project.slug }}/">{{ project.shortName }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Documentation</li>
                        </ol>
                    </nav>
                {% endif %}

                {# Documentation Page #}
                {% if page.docsPage is defined and page.docsPage == true and page.docsIndex == false and project is defined %}
                    <nav class="breadcrumbs d-none d-sm-block d-md-block d-lg-block d-xl-block" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ site.url }}/projects/">Projects</a></li>
                            <li class="breadcrumb-item"><a href="{{ site.url }}/projects/{{ project.slug }}/">{{ project.shortName }}</a></li>
                            <li class="breadcrumb-item"><a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ page.docsVersion }}/">Documentation</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                        </ol>
                    </nav>
                {% endif %}
            </div>

            <div class="row">
                {% if page.docsPage %}
                    <div class="left-sidebar col-3 d-none d-lg-block d-xl-block rounded">
                        {% block sidebar '' %}
                    </div>
                {% endif %}

                {% if page.docsPage %}
                <div class="right-content col-xl-9 col-lg-9 col-sm-12 col-xs-12">
                {% else %}
                <div class="right-content col-12">
                {% endif %}

                    {% block content_wrapper %}
                        {% if project is defined and page.docsVersion is defined %}
                            <ul class="list-inline">
                                {% for version in project.versions %}
                                    <li class="list-inline-item mr-0">
                                        <a href="{{ get_url_version(version, page.url, page.docsVersion) }}" class="project-version-switcher badge {{ version.slug == page.docsVersion ? 'badge-primary' : 'badge-secondary' }}">{{ version.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% block content '' %}
                        <div style="height: 10000px"></div>
                    {% endblock %}
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <i class="fa fa-copyright"></i> {{ "now"|date("Y") }} {{ site.title }}
            </div>
        </footer>

        <script type="text/javascript">
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById('back-to-top').style.display = "block";
                } else {
                    document.getElementById('back-to-top').style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }
        </script>

        <button onclick="topFunction()" id="back-to-top" title="Go to top">Top</button>

        {% block scripts '' %}

        {% if site.google_analytics_tracking_id %}
            <script type="text/javascript">
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}

        {% block scripts_after '' %}

        {% if site.env == 'dev' %}
            <script type="text/javascript">
                var changedUrl = '{{ site.url }}/changed';
            </script>
            <script src="{{ site.url }}/js/watch.js?{{ site.cacheBuster }}"></script>
        {% endif %}
    </body>
</html>
