{% extends 'layout.html' %}

{% if page.docsSlug %}
    {% set project = get_project(page.docsSlug) %}
{% endif %}

{% if project is defined and project %}
    {% block title %}{{ page.title }} - {{ project.name }} ({{ project.shortName }}){% endblock %}

    {% block meta_description project.description %}

    {% block meta_keywords project.keywords|join(',') %}
{% endif %}

{% block head_meta %}
    {% if project is defined and project %}
        <link rel="canonical" href="{{ site.url }}{{ get_url_version(project.currentVersion, page.url, page.docsVersion) }}" />
    {% endif %}
{% endblock %}

{% block structured_data %}
    {% if project is defined and project %}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Course",
            "name": "Doctrine {{ project.name }}",
            "description": "{{ page.title }}",
            "provider": {
                "@type": "Organization",
                "name": "Doctrine",
                "sameAs": "{{ site.url }}"
            }
        }
        </script>
    {% endif %}
{% endblock %}

{% block container %}
    <div class="container-wrapper container-fluid">
        <div class="row row-offcanvas row-offcanvas-right">
            {% if page.docsPage %}
                <nav class="col-md-3 d-sm-block bg-light sidebar sidebar-offcanvas" id="sidebar">
                    <div class="sidebar-sticky">
                        {% block sidebar '' %}
                    </div>
                </nav>
            {% endif %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
                <div class="row">
                    {# Documentation TOC #}
                    {% if page.docsIndex is defined and page.docsIndex and project is defined %}
                        <nav class="breadcrumbs d-none d-sm-block d-md-block d-lg-block d-xl-block" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects.html">Projects</a></li>
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects/{{ project.slug }}.html">{{ project.shortName }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Documentation</li>
                            </ol>
                        </nav>
                    {% endif %}

                    {# Documentation Page #}
                    {% if page.docsPage is defined and page.docsPage == true and page.docsIndex == false and project is defined %}
                        <nav class="breadcrumbs d-none d-sm-block d-md-block d-lg-block d-xl-block" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects.html">Projects</a></li>
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects/{{ project.slug }}.html">{{ project.shortName }}</a></li>
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ page.docsVersion }}/">Documentation</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                            </ol>
                        </nav>
                    {% endif %}
                </div>

                {% if project.archived == true %}
                    <div class="alert caution bg-light-yellow text-dark border"><i class="fas fa-exclamation-circle text-warning mr-2"></i> This project is no longer maintained and has been archived.</div>
                {% elseif project.active == false %}
                    <div class="alert warning bg-light-yellow text-dark border"><i class="fas fa-exclamation-circle text-warning mr-2"></i> This project is not being actively maintained. If you are interested in helping to maintain this project, take a look at the open issues on <a href="https://github.com/doctrine/{{ project.repositoryName }}/" target="_blank">GitHub</a> and submit pull requests.</div>
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        {% block content_wrapper %}
                            <button type="button" class="btn btn-primary btn-sm float-right toc-toggle" data-toggle="offcanvas" id="toc-toggle">Table of Contents</button>

                            {% if project is defined and page.docsVersion is defined %}
                                <ul class="list-inline">
                                    {% for version in project.versions %}
                                        {% set versionUrl = get_url_version(version, page.url, page.docsVersion) %}

                                        <li class="list-inline-item mr-0">
                                            {% if versionUrl %}
                                                <a href="{{ versionUrl }}" class="project-version-switcher badge {{ version.slug == page.docsVersion ? 'badge-warning' : 'badge-secondary' }}">{{ version.name }}</a>
                                            {% else %}
                                                <span class="badge badge-light text-muted border border-secondary">{{ version.name }}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}

                                    {% set version = project.getVersion(page.docsVersion) %}

                                    <li class="list-inline-item ml-2"><a href="https://github.com/doctrine/{{ project.docsRepositoryName }}/edit/{{ version.branchName }}{{ project.docsPath }}{{ page.sourceFile }}" class="badge badge-primary">Edit</a></li>

                                </ul>
                            {% endif %}

                            {% block content '' %}
                        {% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ get_asset_url('/js/sidebar.js', site.url) }}"></script>

    <script type="text/javascript">
        new Sidebar();
    </script>
{% endblock %}
