{% extends 'layout.html' %}

{% block container %}
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-right">
            {% if page.docsPage %}
                <nav class="col-md-3 d-sm-block bg-light sidebar sidebar-offcanvas" id="sidebar">
                    <div class="sidebar-sticky">
                        {% block sidebar '' %}
                    </div>
                </nav>
            {% endif %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
                <div class="row">
                    {% if page.docsSlug %}
                        {% set project = get_project(page.docsSlug) %}
                    {% endif %}

                    {# Documentation TOC #}
                    {% if page.docsIndex is defined and page.docsIndex and project is defined %}
                        <nav class="breadcrumbs d-none d-sm-block d-md-block d-lg-block d-xl-block" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects/">Projects</a></li>
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects/{{ project.slug }}/">{{ project.shortName }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Documentation</li>
                            </ol>
                        </nav>
                    {% endif %}

                    {# Documentation Page #}
                    {% if page.docsPage is defined and page.docsPage == true and page.docsIndex == false and project is defined %}
                        <nav class="breadcrumbs d-none d-sm-block d-md-block d-lg-block d-xl-block" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects/">Projects</a></li>
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects/{{ project.slug }}/">{{ project.shortName }}</a></li>
                                <li class="breadcrumb-item"><a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ page.docsVersion }}/">Documentation</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                            </ol>
                        </nav>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-12">
                        {% block content_wrapper %}
                            <button type="button" class="btn btn-primary btn-sm float-right toc-toggle" data-toggle="offcanvas" id="toc-toggle">Table of Contents</button>

                            {% if project is defined and page.docsVersion is defined %}
                                <ul class="list-inline">
                                    {% for version in project.versions %}
                                        <li class="list-inline-item mr-0">
                                            <a href="{{ get_url_version(version, page.url, page.docsVersion) }}" class="project-version-switcher badge {{ version.slug == page.docsVersion ? 'badge-primary' : 'badge-secondary' }}">{{ version.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% block content '' %}
                        {% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ get_asset_url('/js/sidebar.js', site.url) }}"></script>
{% endblock %}
