html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body > .container {
    padding: 0 15px 20px;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.search-results {
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    z-index: 1000;
    margin-top: 20px;
    border: 1px solid #ccc;
    display: none;
}

.section-anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.breadcrumbs {
    width: 100%;
}

.navbar {
    background: linear-gradient(-90deg, #2C374C, #1F2E4B);
    color: white;
    padding: 0 10px 0 10px;
}

.navbar input {
    height: 40px;
    margin-top: 2px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-brand img {
    width: 30px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.projects-dropdown-menu {
    margin-top: 0;
}

.sidebar-sticky .toc-section .toc-header {
    padding: 8px;
    font-size: 20px;
    background-color: #1F2E4B;
    margin-bottom: 0;
    color: #fff;
}

/** 1st Level */
.sidebar-sticky .toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar-sticky .toc ul li {
    border-bottom: 1px dashed #ccc;
}

.sidebar-sticky .toc ul li a {
    padding: 8px;
    width: 100%;
    display: block;
    color: #333333;
}

.sidebar-sticky .toc ul li.opened a {
    background-color: #ccc;
    color: #333;
    font-weight: bold;
}

/** 2nd Level */
.sidebar-sticky .toc ul ul {
    margin-top: 10px;
    margin-left: 16px;
    display: none;
}

.sidebar-sticky .toc ul ul li {
    font-size: 12px;
    line-height: 20px;
    border-bottom: none;
}

.sidebar-sticky .toc ul ul li a {
    padding: 2px;
    color: #FA6A3C;
}

.sidebar-sticky .toc ul ul li.opened a {
    background: none;
    color: #FA6A3C;
}

/** 3rd Level */
.sidebar-sticky .toc ul ul ul {
    margin-top: 0;
}

.sidebar-sticky .toc ul.closed-ul {
    display: none;
}

.sidebar-sticky .toc ul.opened-ul {
    display: block;
}

pre {
    background-color: #232323;
    color: white;
}

pre code {
    padding: 0.5em;
    display: block;
}

em {
    font-weight: bold;
    text-decoration: underline;
}

.ais-hits .ais-hits--item {
    margin-bottom: 20px;
}

.alert p {
    display: inline;
}

.bg-light-yellow {
    background-color: #ffd;
}

.bg-doctrine-orange {
    background-color: #FA6A3C;
}

.bg-doctrine-light-blue {
    background-color: #2e6bc8;
}

.bg-doctrine-dark-blue {
    background-color: #1F2E4B;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.section-header a {
    text-decoration: none;
    color: #333;
}

.section-header a i {
    margin-left: 5px;
    color: #FA6A3C;
    opacity: 0.7;
    font-size: 50%;
    vertical-align: middle;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1F2E4B;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .5);
}

#back-to-top:hover {
    background-color: #555;
}

div.configuration-block ul.simple
{
    margin: 0;
    padding: 0;
}

div.configuration-block ul.simple li
{
  margin: 0 !important;
  margin-right: 5px !important;
  display: inline;
  margin-left: 10px;
}

div.configuration-block em
{
  margin-bottom: 10px;
}

div.configuration-block li
{
  padding: 5px;
}

div.configuration-block em
{
    font-style: normal;
    font-size: 90%;
}

div.jsactive
{
  position: relative;
}

div.jsactive ul
{
  list-style: none;
}

div.jsactive li
{
  float: left;
  list-style: none;
  margin-left: 0;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  background-color: #ddd;
  margin-right: 5px;
}

div.jsactive .selected
{
    background-color: #000;
}

div.jsactive .selected a
{
    color: #fff;
    text-decoration: none;
}

div.jsactive .selected a:hover
{
    color: #fff;
    text-decoration: underline;
}

div.jsactive a
{
    color: #000;
    text-decoration: none;
}

div.jsactive a:hover
{
    color: #000;
    text-decoration: underline;
}

div.jsactive div
{
  position: absolute;
  top: 30px;
  left: 0;
}

div.jsactive div div
{
  position: static;
}

div.jsactive pre
{
    margin: 0;
}

@media (max-width: 900px) {
    .sidebar {
        display: none;
    }
}

@media (min-width: 768px) {
    .toc-toggle {
        display: none;
    }

    .sidebar {
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 0;
    }

    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 49px;
        height: calc(100vh - 59px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}


@media (max-width: 576px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    right: -80%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 12 columns */
  }

  .row-offcanvas-left.active
  .sidebar-offcanvas {
    left: -80%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 80%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 80%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 80%; /* 6 columns */
  }
}
