html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body > .container {
    padding: 0 15px 20px;
    margin-top: 20px;
}

.section-anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.breadcrumbs {
    width: 100%;
}

.navbar {
    background: linear-gradient(-90deg, #2C374C, #1F2E4B);
    color: white;
    border-top: solid 5px #2e6bc8;
    padding: 0 0 0 30px;
    min-height: 50px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-brand img {
    width: 30px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 5px;
}

/** 1st Level */
.sidebar-sticky .toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar-sticky .toc ul li {
    line-height: 40px;
    white-space: nowrap;
    border-bottom: 1px dashed #ccc;
    padding-left: 10px;
}

.sidebar-sticky .toc ul li a {
    width: 100%;
    display: block;
    color: #333333;
}

.sidebar-sticky .toc ul li.opened {
    font-weight: bold;
    background-color: #ccc;
    color: #fff;
}

.sidebar-sticky .toc ul li.opened a {
    color: #333;
}

/** 2nd Level */
.sidebar-sticky .toc ul ul {
    margin-top: 10px;
    margin-left: 16px;
    display: none;
}

.sidebar-sticky .toc ul ul li {
    font-size: 12px;
    line-height: 20px;
    border-bottom: none;
}

.sidebar-sticky .toc ul ul li.opened {
    background: none;
}

.sidebar-sticky .toc ul ul li.opened a {
    color: #FA6A3C;
}

.sidebar-sticky .toc ul ul li a {
    color: #FA6A3C;
}

/** 3rd Level */
.sidebar-sticky .toc ul ul ul {
    margin-top: 0;
}

.sidebar-sticky .toc ul ul ul li.opened {
    background: none;
}

.sidebar-sticky .toc ul.closed-ul {
    display: none;
}

.sidebar-sticky .toc ul.opened-ul {
    display: block;
}

pre {
    background-color: #232323;
    color: white;
}

pre code {
    font-size: 80%;
    padding: 0.5em;
    display: block;
}

em {
    font-weight: bold;
    text-decoration: underline;
}

.ais-hits .ais-hits--item {
    margin-bottom: 20px;
}

.alert p {
    display: inline;
}

.bg-light-yellow {
    background-color: #ffd;
}

.bg-doctrine-orange {
    background-color: #FA6A3C;
}

.bg-doctrine-light-blue {
    background-color: #2e6bc8;
}

.bg-doctrine-dark-blue {
    background-color: #1F2E4B;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.section-header a {
    text-decoration: none;
    color: #333;
}

.section-header a i {
    margin-left: 5px;
    color: #FA6A3C;
    opacity: 0.7;
    font-size: 50%;
    vertical-align: middle;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1F2E4B;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#back-to-top:hover {
    background-color: #555;
}

@media (max-width: 576px) {
    h1.section-header {
        font-size: 25px;
    }

    h2.section-header {
        font-size: 20px;
    }

    h3.section-header {
        font-size: 15px;
    }

    h4.section-header {
        font-size: 10px;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    h1.section-header {
        font-size: 30px;
    }

    h2.section-header {
        font-size: 25px;
    }

    h3.section-header {
        font-size: 20px;
    }

    h3.section-header {
        font-size: 15px;
    }
}
