parameters:
    doctrine.website.algolia.admin_api_key: 'abcd'
    doctrine.website.projects_dir: '%doctrine.website.root_dir%/projects'
    doctrine.website.github.http_token: 'abcd'
    doctrine.website.mysql.password: 'MyDBPassword'
