<div class="alert section-author bg-light text-dark border"><p class="author font-weight-bold">
        <i class="fas fa-pencil-alt"></i> Written by <a href="mailto:{{ node.email }}">{{ node.value }}</a></p>
</div>
