<div class="table-of-contents">
    <h1>{{ header }}</h1>
    {% set level = 0 %}
    {% for title in titles %}
        {% for i in 1..6 %}{% if title.level < level %}</ol>{% set level = level - 1 %}{% endif %}{% endfor %}
        {% for i in 1..6 %}{% if title.level > level %}<ol>{% set level = level + 1 %}{% endif %}{% endfor %}
        {% set level = title.level %}
        {% if title.token %}
            <li><a href="#{{ title.token }}">{{ title.text|raw }}</a></li>
        {% else %}
            <li>{{ title.text|raw }}</li>
        {% endif %}
    {% endfor %}
</div>
