{% extends 'emails/email.html.twig' %}

{% block inline_css %}
    {% include 'emails/css/framework.css' %}
    {% include 'emails/css/layout.css' %}
{% endblock %}

{% block full_body_html %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>Doctrine</title>

            <style type="text/css">
                {% block head_css '' %}
            </style>
        </head>
        <body>
            <span class="preheader">{% block preheader '' %}</span>
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
                <tr>
                    <td>&nbsp;</td>
                    <td class="header">
                        <a href="{{ url('homepage') }}"><img src="{{ get_asset_url('/images/favicon-196x196.png', site.assetsUrl) }}" /></a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="container">
                        <div class="content">
                            <table role="presentation" class="main">
                                <tr>
                                    <td class="wrapper">
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    {% block body_html '' %}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                            <div class="footer">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            <span class="apple-link"><a href="{{ url('homepage') }}">Doctrine Company, LLC</a></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </body>
    </html>
{% endblock %}
