<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ site.url }}/projects.html">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ project.shortName }}</li>
    </ol>
</nav>

{% if project.active == false %}
    <div class="alert warning bg-light-yellow text-dark border"><i class="fas fa-exclamation-circle text-warning mr-2"></i> This project is not being actively maintained. If you are interested in helping to maintain this project, take a look at the open issues on <a href="https://github.com/doctrine/{{ project.repositoryName }}/" target="_blank">GitHub</a> and submit pull requests.</div>
{% endif %}

<h2>{{ project.name }}</h2>

<p class="lead">{{ project.description }}</p>

<a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ project.currentVersion.slug ?? 'latest' }}/index.html" class="btn btn-primary mr-2">Docs</a>

<a href="{{ site.url }}/api/{{ project.slug }}/{{ project.currentVersion.slug ?? 'latest' }}/index.html" class="btn btn-primary mr-2">API Docs</a>

<a href="https://github.com/doctrine/{{ project.repositoryName }}/" class="btn btn-primary" target="_blank">GitHub</a>

<hr />

<h2>Install</h2>

<pre><code>$ composer require {{ project.composerPackageName }}</code></pre>

<h2>Versions</h2>

<div class="border-left border-right border-bottom rounded mb-4">
    <table class="table mb-0">
        <tbody>
            {% for version in project.versions %}
                <tr>
                    <td{% if version.current %} class="font-weight-bold"{% endif %}>
                        {{ version.name }}

                        {% if version.current %}
                            (current)
                        {% endif %}
                    </td>
                    <td><a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ version.slug ?? 'latest' }}/index.html">Docs</a></td>
                    <td><a href="{{ site.url }}/api/{{ project.slug }}/{{ version.slug ?? 'latest' }}/index.html">API Docs</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% set teamMembers = get_project_team_members(project) %}

{% if teamMembers %}
    <h2>Team</h2>

    <ul class="list-group">
        {% for member in teamMembers if member.active is defined and member.active == true or (project.active == false and member.active == false) %}
            <li class="list-group-item">
                <img src="{{ member.avatarUrl }}" class="rounded float-left mr-5" style="width: 50px;" />
                <strong>{{ member.name ?? member.github }}{% if member.name %} <small>({{ member.github }}){% endif %}</small></strong>

                <ul class="list-inline">
                    {% if member.twitter is defined and member.twitter %}
                        <li class="list-inline-item" target="_blank"><a href="https://twitter.com/{{ member.twitter }}/" target="_blank"><i class="fab fa-twitter mr-2"></i></a></li>
                    {% endif %}

                    {% if member.website is defined and member.website %}
                        <li class="list-inline-item" target="_blank"><a href="{{ member.website }}" target="_blank"><i class="fas fa-link mr-2"></i></a></li>
                    {% endif %}

                    {% if member.github is defined and member.github %}
                        <li class="list-inline-item" target="_blank"><a href="https://github.com/{{ member.github }}/" target="_blank"><i class="fab fa-github mr-2"></i></a></li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}
