---
layout: default
title: Blog
menuSlug: blog
permalink: /blog/index.html
controller: ['Doctrine\Website\Controllers\BlogController', 'index']
---

<h1>Blog</h1>

{% for blogPost in blogPosts %}
    {{ blogPost.date|date('Y-m-d') }} &nbsp; <a href="{{ blogPost.url }}">{{ blogPost.title }}</a>

    {% if blogPost.authorName %}
        by
        {% if blogPost.authorEmail %}
            <a href="mailto:{{ blogPost.authorEmail }}">{{ blogPost.authorName }}</a>
        {% else %}
            {{ blogPost.authorName }}
        {% endif %}
    {% endif %}
    <br/>
{% endfor %}
