---
permalink: /blog/index.html
layout: blog-list
---

{% for blogPost in blogPosts %}
    <article>
        <header>
            <h2><a href="{{ blogPost.url }}">{{ blogPost.title }}</a></h2>
        </header>

        <p class="lead">
            Posted on <date>{{ blogPost.date|date('F j, Y') }}</date>
            {% if blogPost.authorName %}
                by
                {% if blogPost.authorEmail %}
                    <a href="mailto:{{ blogPost.authorEmail }}">{{ blogPost.authorName }}</a>
                {% else %}
                    {{ blogPost.authorName }}
                {% endif %}
            {% endif %}
        </p>

        <hr />

        <div>
            {{ blogPost.contents|markdown }}
        </div>
    </article>
{% endfor %}

<a href="/blog/archive.html" class="btn btn-primary">View Blog Archive</a>
