{% block title %}Consulting{% endblock %}

{% block content %}
    <h1>Consulting</h1>

    <p class="lead">Improve the efficiency and skills of your development team through an official Doctrine consulting engagement by e-mailing <a href="mailto:consulting@doctrine-project.org">consulting@doctrine-project.org</a>.</p>

    <h2>Pricing</h2>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Onsite Workshop</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$2000 <small class="text-muted">/ day</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>3 day minimum</li>
                    <li>6 hour days</li>
                    <li>Doctrine workshop</li>
                    <li>Tailored to your team</li>
                    <li>Max class size, 10 people</li>
                </ul>
                <a href="mailto:consulting@doctrine-project.org?subject=Onsite Workshop" class="btn btn-lg btn-block btn-primary">Contact Us</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Online Workshop</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$1500 <small class="text-muted">/ day</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>2 day minimum</li>
                    <li>6 hour days</li>
                    <li>Doctrine workshop</li>
                    <li>Tailored to your team</li>
                    <li>Max class size, 6 people</li>
                </ul>
                <a href="mailto:consulting@doctrine-project.org?subject=Online Workshop" class="btn btn-lg btn-block btn-primary">Contact Us</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Hourly Support & Consulting</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$1000 <small class="text-muted">/ month</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Private Slack channel</li>
                    <li>10 hours of consulting time per month</li>
                    <li>$100 <small class="text-muted">/ hour</small> for additional support requests</li>
                    <li>Response time in 48 hours</li>
                    <li>2 priority tickets per month</li>
                </ul>
                <a href="mailto:consulting@doctrine-project.org?subject=Hourly Consulting" class="btn btn-lg btn-block btn-primary">Contact Us</a>
            </div>
        </div>
    </div>

    <h2>Our Team of Experts</h2>

    <ul class="list-group">
        {% for consultant in consultants %}
            <li class="list-group-item">
                <img src="{{ consultant.headshot }}" class="rounded float-left mr-5" style="width: 125px;" />

                <strong>
                    <a href="{{ path('team_contributor', {github:consultant.github}) }}">
                        {{ consultant.name }}
                    </a>
                </strong>

                <p>{{ consultant.bio }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
