{% block title %}Doctrine Events{% endblock %}

{% block content %}
    <h1>Events</h1>

    {% if upcomingEvents|length %}
        <ul class="list-group">
            {% for event in upcomingEvents %}
                <div class="list-group mb-4">
                    <a href="{{ path('event', {id:event.id, slug:event.slug}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h5 class="mb-1">{{ event.name }}</h5>

                        <p class="mb-1">
                            This {{ event.dates.over ? 'was' : 'is' }} a {{ event.dates.duration }} event that {{ event.dates.over ? 'started' : 'starts' }} on {{ event.startDate|date('l, F jS Y') }} at {{ event.startDate|date('h:i A T') }}{% if event.dates.numDays > 1 %} and ends on {{ event.endDate|date('l, F jS Y') }} at {{ event.endDate|date('h:i A T') }}{% endif %}.
                        </p>

                        <p class="mb-1">
                            {% for speaker in event.speakers|slice(0, 5) %}
                                <img src="{{ speaker.avatarUrl }}" title="{{ speaker.name }}" alt="{{ speaker.name }}" width="50" />
                            {% endfor %}
                        </p>
                    </a>
                </div>
            {% endfor %}
        </ul>

        <p class="lead">Don't see something that you are interested in? <a href="{{ path('event_suggest') }}">Suggest</a> an event topic you would like to see and we will see what we can do!</p>
    {% else %}
        <p class="lead">No upcoming events are currently scheduled. Come back soon to check for new events! You may also <a href="{{ path('event_suggest') }}">suggest</a> an event topic you would like to see.</p>
    {% endif %}

    {% if pastEvents|length %}
        <h2>Past Events</h2>

        <ul class="list-group">
            {% for event in pastEvents %}
                <li class="list-group-item"><a href="{{ path('event', {id:event.id, slug:event.slug}) }}">{{ event.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include "carbonad-standard.html.twig" %}
{% endblock %}
