{% block content %}
    <div class="row">
        <div class="col-12 col-md-{{ featuredPartner ? 6 : 12 }} mb-4">
            <h1 class="display-4 notranslate">{{ site.title }}</h1>

            <p class="lead">The Doctrine Project is the home to several PHP libraries primarily
            focused on database storage and object mapping. The core projects are the
            <a href="{{ site.url }}/projects/orm.html">Object Relational Mapper (ORM)</a> and the
            <a href="{{ site.url }}/projects/dbal.html">Database Abstraction Layer (DBAL)</a> it is
            built upon.</p>

            <div class="row">
                <div class="col-12">
                    <a class="btn bg-doctrine-orange text-white btn-lg" href="{{ site.url }}/projects/doctrine-orm/en/current/tutorials/getting-started.html" role="button">Get Started</a>
                    <a class="btn bg-doctrine-dark-blue text-white btn-lg" href="{{ site.url }}/projects.html" role="button">View Projects</a>
                </div>
            </div>
        </div>

        {% if featuredPartner %}
            <div class="col-12 col-md-6 mb-4">
                <div class="card box-shadow">
                    <div class="card-header font-weight-bold">Featured Partner</div>

                    <a href="{{ path('partner', {slug:featuredPartner.slug}) }}">
                        <img class="card-img-top p-2" height="100" src="{{ featuredPartner.logo }}" alt="{{ featuredPartner.name }}">
                    </a>

                    <div class="card-body">
                        <p class="card-text">{{ featuredPartner.bio|truncate(150) }}</p>

                        <a href="{{ path('partner', {slug:featuredPartner.slug}) }}" class="card-link">View More</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="alert alert-primary" role="alert">
        <table width="100%">
            <tr>
                <td width="10" class="align-top">
                    <i class="fas fa-download text-dark mr-2"></i>
                </td>
                <td>
                    <p>Doctrine has been downloaded a total of <strong>{{ totalDownloads|number_format }}</strong> times!</p>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <h5 class="card-header">Why use Doctrine?</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fa fa-check text-success mr-2"></i>Around since 2006 with
                        very stable, high-quality codebase.
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-check text-success mr-2"></i>Extremely flexible and
                        powerful object-mapping and query features.
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-check text-success mr-2"></i>Support for both
                        high-level and low-level database programming for all your use-cases.
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-check text-success mr-2"></i>Large Community and
                        integrations with many different frameworks
                        (<a href="https://symfony.com">Symfony</a>, <a href="https://laravel.com/">Laravel</a>,
                        <a href="https://getlaminas.org/">Laminas</a> and more).
                    </li>
                </ul>
            </div>

            <div class="card mb-4">
                <h5 class="card-header">Latest Blog Posts</h5>
                <ul class="list-group list-group-flush">
                    {% for post in blogPosts %}
                        <li class="list-group-item"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <h5 class="card-header">Projects</h5>
                <ul class="list-group list-group-flush">
                    {% for project in primaryProjects %}
                        <li class="list-group-item notranslate">
                            <a href="{{ site.url }}/projects/{{ project.slug }}.html">{{ project.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Who uses Doctrine?</h5>
                <div class="card-body bg-secondary text-white">
                    <p class="card-text">
                        Many other popular PHP projects use libraries from Doctrine.
                        Some use the full <a href="/projects/orm.html" class="text-white font-weight-bold">ORM</a>
                        and others may only use one small library such as the
                        <a href="/projects/inflector.html" class="text-white font-weight-bold">Inflector</a>.
                        Here are some projects that use Doctrine.
                    </p>
                </div>
                <table id="who-uses-doctrine-table" class="table table-striped table-responsive-xl">
                    {% for batch in doctrineUsers|batch(3, 'and many more&hellip;') %}
                        <tr>
                            {% for doctrineUser in batch %}
                                {% if doctrineUser.url is defined %}
                                    <td><a href="{{ doctrineUser.url }}" target="_blank" rel="noopener noreferrer" class="mr-4">{{ doctrineUser.name }}</a></td>
                                {% else %}
                                    <td><span class="font-italic">{{ doctrineUser|raw }}</span></a></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Want to support Doctrine?</h5>
                <div class="card-body">
                    Doctrine is an open source project made available for free under the MIT license. It is built by
                    people who work on it for free in their spare time. Consider donating to the project to support the
                    development team.

                    <hr/>

                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="RUKGBHELA2B7G">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Doctrine ORM for enterprise</h5>
                <div class="card-body">
                    <h6>
                        Available as part of the
                        <a href="https://tidelift.com/subscription/request-a-demo?utm_source=packagist-doctrine-orm&utm_medium=referral&utm_campaign=enterprise" target="_blank" rel="noopener noreferrer">
                            Tidelift Subscription
                        </a>.
                    </h6>

                    <p>
                        Tidelift is working with the maintainers of Doctrine ORM and thousands of other
                        open source projects to deliver commercial support and maintenance for the open
                        source dependencies you use to build your applications. Save time, reduce risk,
                        and improve code health, while paying the maintainers of the exact dependencies
                        you use.
                    </p>

                    <a href="https://tidelift.com/subscription/pkg/packagist-doctrine-orm?utm_source=packagist-doctrine-orm&utm_medium=referral&utm_campaign=enterprise" target="_blank" rel="noopener noreferrer">
                        <img src="{{ get_asset_url('/images/tidelift-logo.png', site.url) }}" class="w-100" />
                    </a>

                    <h6>Enterprise-ready open source software—managed for you.</h6>
                    
                    <p>
                        The Tidelift Subscription is a managed open source subscription for application
                        dependencies covering millions of open source projects across JavaScript, Python,
                        Java, PHP, Ruby, .NET, and more.
                    </p>

                    <p>Your subscription includes:</p>
                    
                    <ul>
                        <li>
                            <strong>Security updates:</strong> Tidelift’s security response team coordinates patches
                            for new breaking security vulnerabilities and alerts immediately through a private channel,
                            so your software supply chain is always secure.
                        </li>
                        <li>
                            <strong>Licensing verification and indemnification:</strong> Tidelift verifies license
                            information to enable easy policy enforcement and adds intellectual property indemnification
                            to cover creators and users in case something goes wrong. You always have a 100% up-to-date
                            bill of materials for your dependencies to share with your legal team, customers, or
                            partners.
                        </li>
                        <li>
                            <strong>Maintenance and code improvement:</strong> Tidelift ensures the software you
                            rely on keeps working as long as you need it to work. Your managed dependencies are
                            actively maintained and we recruit additional maintainers where required.
                        </li>
                        <li>
                            <strong>Package selection and version guidance:</strong> We help you choose the best open
                            source packages from the start—and then guide you through updates to stay on the best
                            releases as new issues arise.
                        </li>
                        <li>
                            <strong>Roadmap input:</strong> Take a seat at the table with the creators behind the
                            software you use. Tidelift’s participating maintainers earn more income as their software
                            is used by more subscribers, so they’re interested in knowing what you need.
                        </li>
                        <li>
                            <strong>Tooling and cloud integration:</strong> Tidelift works with GitHub, GitLab,
                            BitBucket, and more. We support every cloud platform (and other deployment targets, too).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
