{% block title 'Doctrine, The Open-Source PHP ORM and Persistence Tools Project' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 notranslate">{{ site.title }}</h1>
            <p class="lead">The Doctrine Project is the home to several PHP libraries primarily
            focused on database storage and object mapping. The core projects are the
            <a href="{{ site.url }}/projects/orm.html">Object Relational Mapper (ORM)</a> and the
            <a href="{{ site.url }}/projects/dbal.html">Database Abstraction Layer (DBAL)</a> it is
            built upon.</p>

            <p class="lead">
                <a class="btn bg-doctrine-orange text-white btn-lg" href="{{ site.url }}/projects/doctrine-orm/en/current/tutorials/getting-started.html" role="button">Get Started</a>
                <a class="btn bg-doctrine-dark-blue text-white btn-lg" href="{{ site.url }}/projects.html" role="button">View Projects</a>

                <div class="btn btn-lg tidelift-badge">
                    <a href="https://tidelift.com/subscription/pkg/packagist-doctrine-orm?utm_source=packagist-doctrine-orm&utm_medium=website" target="_blank" rel="noopener noreferrer"><img src="{{ get_asset_url('/images/tidelift-icon.png', site.url) }}" class="tidelift-icon" /> <span>Get professional support for Doctrine</span></a>
                </div>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <h5 class="card-header">Why use Doctrine?</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-check text-success mr-2"></i>Around since 2006 with very stable, high-quality codebase.</li>
                    <li class="list-group-item"><i class="fa fa-check text-success mr-2"></i>Extremely flexible and powerful object-mapping and query features.</li>
                    <li class="list-group-item"><i class="fa fa-check text-success mr-2"></i>Support for both high-level and low-level database programming for all your use-cases.</li>
                    <li class="list-group-item"><i class="fa fa-check text-success mr-2"></i>Large Community and integrations with many different frameworks (Symfony, Laravel, Zend Framework and more)</li>
                </ul>
            </div>

            <div class="card mb-4">
                <h5 class="card-header">Latest Blog Posts</h5>
                <ul class="list-group list-group-flush">
                    {% for post in blogPosts %}
                        <li class="list-group-item"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <h5 class="card-header">Projects</h5>
                <ul class="list-group list-group-flush">
                    {% for project in primaryProjects %}
                        <li class="list-group-item notranslate"><a href="{{ site.url }}/projects/{{ project.slug }}.html">{{ project.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Who uses Doctrine?</h5>
                <div class="card-body bg-secondary text-white">
                    <p class="card-text">Many other popular PHP projects use libraries from Doctrine. Some use the full <a href="/projects/orm.html" class="text-white font-weight-bold">ORM</a> and others may only use one small library such as the <a href="/projects/inflector.html" class="text-white font-weight-bold">Inflector</a>. Here are some projects that use Doctrine.</p>
                </div>
                <table id="who-uses-doctrine-table" class="table table-striped table-responsive-xl">
                    {% for batch in doctrineUsers|batch(3, 'and many more&hellip;') %}
                        <tr>
                            {% for doctrineUser in batch %}
                                {% if doctrineUser.url is defined %}
                                    <td><a href="{{ doctrineUser.url }}" target="_blank" rel="noopener noreferrer" class="mr-4">{{ doctrineUser.name }}</a></td>
                                {% else %}
                                    <td><span class="font-italic">{{ doctrineUser|raw }}</span></a></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Want to support Doctrine?</h5>
                <div class="card-body">
                    Doctrine is an open source project made available for free under the MIT license. It is built by
                    people who work on it for free in their spare time. Consider donating to the project to support the
                    development team.

                    <hr/>

                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="RUKGBHELA2B7G">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Get professional support for Doctrine ORM</h5>
                <div class="card-body">
                    Available as part of the <a href="https://tidelift.com/subscription/pkg/packagist-doctrine-orm?utm_source=packagist-doctrine-orm&utm_medium=website" target="_blank" rel="noopener noreferrer">Tidelift Subscription</a>. It includes support for Doctrine ORM and many of the other open source packages you depend on. Here’s how it provides the professional assurances you need.

                    <a href="https://tidelift.com/subscription/pkg/packagist-doctrine-orm?utm_source=packagist-doctrine-orm&utm_medium=website" target="_blank" rel="noopener noreferrer"><img src="{{ get_asset_url('/images/tidelift-logo.png', site.url) }}" class="w-100" /></a>

                    <ul>
                        <li><strong>Security:</strong> Timely notifications and help addressing vulnerabilities</li>
                        <li><strong>Maintenance:</strong> Assurance of ongoing high-quality maintenance into the future</li>
                        <li><strong>Licensing:</strong> Legal assurances documenting license status and whether current usage is compatible</li>
                        <li><strong>Comprehensive view:</strong> A clear way to understand all of your organization’s open source dependencies and better manage risk</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
