<h1>Projects</h1>

<p class="lead">
    Doctrine is a collection of projects built for <a href="https://secure.php.net" target="_blank" rel="noopener noreferrer">PHP</a>. Each project can be used standalone and installed with <a href="https://getcomposer.org/" target="_blank" rel="noopener noreferrer">Composer</a>.
</p>

<ul class="nav nav-tabs" id="projects" role="tablist">
    <li class="nav-item mr-1">
        <a class="nav-link active" id="active-projects-tab" data-toggle="tab" href="#active-projects" role="tab" aria-controls="active-projects" aria-selected="true">Active</a>
    </li>
    <li class="nav-item mr-1">
        <a class="nav-link" id="integration-projects-tab" data-toggle="tab" href="#integration-projects" role="tab" aria-controls="integration-projects" aria-selected="false">Integrations</a>
    </li>
    <li class="nav-item mr-1">
        <a class="nav-link" id="inactive-projects-tab" data-toggle="tab" href="#inactive-projects" role="tab" aria-controls="inactive-projects" aria-selected="false">Inactive</a>
    </li>
</ul>

<div class="tab-content p-4 border-left border-right border-bottom" id="projectsContent">
    <div class="tab-pane show active" id="active-projects" role="tabpanel" aria-labelledby="active-projects-tab">
        {% include "projects-list.html.twig" with {projects:primaryProjects} %}
    </div>

    <div class="tab-pane" id="integration-projects" role="tabpanel" aria-labelledby="integration-projects-tab">
        <p class="lead">
            These are projects that integrate Doctrine with other libraries and/or frameworks and are officially supported by Doctrine.
        </p>

        {% include "projects-short-list.html.twig" with {projects:integrationProjects} %}
    </div>

    <div class="tab-pane" id="inactive-projects" role="tabpanel" aria-labelledby="inactive-projects-tab">
        <p class="lead">
            These were once active and maintained projects. If you are interested in helping to maintain any Doctrine project take a look at the open issues on <a href="https://github.com/doctrine/" target="_blank" rel="noopener noreferrer">GitHub</a> and submit pull requests.
        </p>

        {% include "projects-short-list.html.twig" with {projects:inactiveProjects} %}

        <p class="lead mt-4">
            These project are no longer maintained with no chance of revival and have been archived.
        </p>

        {% include "projects-short-list.html.twig" with {projects:archivedProjects} %}
    </div>
</div>
