---
layout: default
title: Doctrine Team
menuSlug: team
permalink: /team/index.html
controller: ['Doctrine\Website\Controllers\TeamController', 'index']
---

<h1>Core Team</h1>

<div class="row">
    {% include "team-members-list.html.twig" with {members:activeCoreTeamMembers} %}
</div>

<h1>Documentation Team</h1>

<div class="row">
    {% include "team-members-list.html.twig" with {members:activeDocumentationTeamMembers} %}
</div>

<h3>Inactive</h3>

{% include "team-members-short-list.html.twig" with {members:inactiveTeamMembers} %}
