name: "Continuous Integration"

on: ["push", "pull_request"]

env:
  doctrine_website_github_http_token: "${{ github.token }}"
  PHP_VERSION: "8.2"
  doctrine_website_algolia_admin_api_key: "no-key-needed"

jobs:
  tests:

    runs-on: "ubuntu-latest"

    steps:
    - uses: "actions/checkout@v3"

    - name: "Setup PHP Action"
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ env.PHP_VERSION }}"
        coverage: "none"

    - name: "Install dependencies with Composer"
      uses: "ramsey/composer-install@v2"
      with:
        composer-options: "--prefer-dist --no-progress --no-suggest"

    - name: "Installation of node"
      uses: "actions/setup-node@v3"
      with:
        node-version: '20.5.1'

    - name: "yarn install"
      run: "yarn install"

    - name: "Run tests"
      run: "./vendor/bin/phpunit"

    - name: "Setup PHP Action"
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ env.PHP_VERSION }}"
        coverage: "pcov"

    - name: "Build website"
      run: "./bin/console --env=dev build-all"

    - name: "Run PHP tests with coverage"
      run: "./vendor/bin/phpunit --coverage-clover clover.xml"

    - name: "Deliver code coverage"
      run: "bash <(curl -s https://codecov.io/bash)"
