name: "Static Analysis"

on: ["push", "pull_request"]

jobs:
  static-analysis:
    name: "Static Analysis"
    uses: "doctrine/.github/.github/workflows/phpstan.yml@v12.2.0"
    with:
      php-version: "8.4"
      composer-dependency-versions: "locked"
